:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;

  font-family: 'Space Grotesk', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  background-color: pink;
}

a:hover {
  color: rgb(8, 7, 64);
}

.card {
  background-color: pink;
}

.card:nth-child(3n - 2) {
  background-color: rgb(241, 134, 134);
}

.container {
  background-color: pink;
}

.app-body {
  display: flex;
  overflow: hidden;
  background-color: pink;
}

.title,
.home-title {
  font-weight: bolder;
  color: rgb(8, 7, 64);
}

.row {
  background: pink;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.cols {
  background: white;
  width: 15%;
  text-align: center;
}

.input {
  border: none;
}

.nav {
  flex: 0.2;
  background: pink;
}

.main {
  flex: 0.8;
  width: 100%;
}

.routes {
  padding: 20px;
}

.nav-container {
  position: fixed;
  left: 0;
  height: 100vh;
  margin: 0;
}

.logo-con {
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}

.header-text {
  color: white;
}

.menu {
  background: pink;
  margin-top: 50px;
  color: #f9f9f5;
  border: none;
  margin-left: 50px;
}

.menu-link {
  color: white;
  font-weight: bolder;
}

.menu-control {
  display: none;
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 1.2rem;
  background-color: var(--bgSecondary);
  border: none;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .main {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1170px) {
  .main {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 100px;
  }
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }

  .navbar {
    flex: 1;
  }

  .main {
    flex: 1;
    margin-top: 90px;
    margin-left: 0;
    margin-right: 10px;
  }

  .nav-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: pink;
  }

  .menu-control-container {
    display: block;
  }

  .ant-menu {
    position: absolute;
    right: 0;
  }

  .home-title {
    font-size: 1.4rem;
  }

  .show-more {
    font-size: 1.3rem;
  }
}

.coin-detail-container {
  margin: 30px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--pink);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading {
  font-weight: 700;
  margin-top: 20px;
  color: var(--pink);
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

@media screen and (max-width: 900px) {
  .stats-container {
    flex-direction: column;
  }

  .coin-desc-link {
    flex-direction: column;
  }

  .stats-container h2 {
    margin-top: 0;
  }

  .row {
    background: rgb(8, 7, 64);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col {
    margin-top: 3px;
    width: 100%;
  }

  .menu {
    background: rgb(22, 21, 75);
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0;
  }

  .coin-detail-container {
    margin: 0;
  }
}

@media screen and (max-width: 540px) {
  .heading {
    margin-top: 20px;
  }

  .nav {
    display: none;
  }

  .home-title {
    font-size: 18px;
  }

  .show-more {
    font-size: 10px;
  }

  .row {
    background: rgb(8, 7, 64);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .col {
    margin-top: 3px;
    width: 600px;
  }

  .menu {
    background: rgb(22, 21, 75);
    margin-top: 0;
  }
}

.show-more {
  margin-top: 0;
  font-size: 15px;
}

.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

.crypto-card-group {
  min-height: 65vh;
  background: pink;
}

.crypto-card .crypto-img {
  width: 35px;
}

.crypto-card:nth-child(3n - 2) {
  background-color: rgb(241, 134, 134);
}

.footer-section {
  background: rgb(241, 134, 134);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.space-box {
  margin-right: 5px;
}

.typoFoot {
  color: white;
  text-align: center;
}
